.line {
  display: inline-block;
  padding: 0;
  margin: 10px 0px;
  margin-top: 20px;
  height: 3px;
  background-color: var(--rust);
  @media (max-width: 768px) {
    margin-top: 10px;
  }
}

.squiggle {
  // border: 1px solid green;
  display: inline-block;
  height: 20px;
  overflow-x: hidden;
  background-image: url(../components/design_el/squiggle.svg);
  background-repeat: repeat-x;
  svg {
    width: 40px;
    display: inline-block;
  }
}

.squiggle-a {
  animation: slideleft 200s infinite linear;
}

@keyframes slideleft {
  from {
    background-position: 0%;
  }
  to {
    background-position: 9000%;
  }
}

.leaf {
  // border: 1px solid red;h
  filter: brightness(1.5) saturate(0.4);
  position: absolute;
  // transform: rotate(-90deg);
  max-width: 1000px;
  width: 180%;

  top: -350px;
  right: -60%;
  z-index: -6000;
  img {
    width: 100%;
  }
}

.desatch {
  filter: brightness(0.8) saturate(0.4);
}

.btn {
  @include small-caps;
  font-size: 0.7em;
  font-weight: 400;
  letter-spacing: 3px;
  background-color: var(--rust);
  padding: 15px 25px;
  color: white;
  box-shadow: var(--shadow);
  &:hover {
    opacity: 0.8;
  }
}

.highlight-box {
  background-color: var(--yellow);
  padding: 60px;
  position: relative;
  @media (max-width: 768px) {
    padding:30px;
    padding-left: 40px;
  }
  &.highlight-right {
    padding-right: 60px;
    &:before {
      content:"";
      display: block;
      height: 70px;
      width: 10px;
      background-color: var(--silver);
      transform: skew(30deg);
      position: absolute;
      top: -30px;
      right: 80px;
    }
    &:after {
      content:"";
      display: block;
      height: 70px;
      width: 10px;
      background-color: var(--silver);
      transform: skew(30deg);
      position: absolute;
      top: -30px;
      right: 50px;
    }
  }
  hr {
    height: 2px;
    background-color: var(--navy-dark);
    margin-top: 20px;
  }
  // box-shadow: var(--shadow);
}

.rusty-rail {
  border-left: 5px solid var(--rust);
  padding: 15px;
  padding-left: 30px;
}


.quickies {
  &:hover {
    .fun-r {
      display: inline-block;
      transform: scaleX(-1) skew(19deg);
    }
  }
  ul {
    display: flex;
    
  }
}
