.pageholder {
  .construction {
    margin-top: 50px;
    color: var(--rust);
  }
}

.about-page {
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
ol li {
  counter-increment: my-awesome-counter;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  border-bottom: 1px solid silver ;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  h3 {
    // font-family: var(--sans);
    margin-top: 20px;
    font-size: 2.3em;
    margin-bottom: 12px;

      color: var(--navy-dark);
  }
  p {
    width: 100%;
  }
}
ol li::before {
  content: counter(my-awesome-counter);
  font-weight: regular;
  width: 50px;
  // display: flex;
  height: 50px;
  background-color: var(--rust);
  font-size: 2em;
  margin-right: 15px;
  font-family: var(--sans);
  font-weight: bold;
  line-height: 50px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 50%;
  color: white;
}
