body {
  font-size: 18px;
  font-family: "Helvetica", "Segoe UI", -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Arial, sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--serif);
  font-weight: normal;
}

.font-serif {
  font-family: var(--serif);
  font-weight: normal;
}

.font-sans {
  font-family: "Helvetica", "Segoe UI", -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: var(--navy-dark);
}

@mixin small-serif-caps {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: var(--serif);
}

@mixin small-sans-spacey-text {
  letter-spacing: 3px;
  font-size: 0.6em;
}

@mixin small-caps {
  @include small-sans-spacey-text;
  text-transform: uppercase;
}

h2 {
  font-family: var(--sans);
  font-weight: 600;
  line-height: 1.5;
  font-size: 1.7em;

}

h3 {
  font-family: var(--serif);
  font-weight: normal;
  font-size: 1.65em;
}

h4 {
  line-height: 1.3em;
}

.small-caps {
  @include small-caps;
}

p.small-para {
  font-size: 0.9em;
  line-height: 1.4em;
}

.big-text {
  font-size: 3em;
  @media (max-width: 768px) {
    // line-height: 1.2;
    font-size: 2.0em;
  }

}
.rusty {
  color: var(--rust);
}
