@font-face {
  font-family: "Bodoni";
  /* src: url("../fonts/BodoniURW-Reg.otf") format("otf"); */
  src: url("../static/fonts/d39898aa-94a3-4115-bc71-65287da5a969.woff2")
      format("woff2"),
    url("../static/fonts/7085538f-c7a6-407a-8b88-551569d16430.woff")
      format("woff");
}

body {
  font-size: 18px;
  font-family: "Helvetica", "Segoe UI", -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", Arial, sans-serif;
}

h1,
h2,
h3 {
  font-family: "Bodoni";
  font-weight: normal;
}
