:root {
  --navy-dark: #29303e;
  --navy-light: #00355b;
  --rust: #df6328;
  --black: #222222;
  --yellow: #fff4c5;
  --silver: #a8a8a8;
  --intro-circle: 475px;
  --bp-md: 480px;
  --bp-sm: 375px;
  --bp-xs: 300px;
  --sp: 5px;
  --serif: "Bodoni", Georgia, serif;
  --sans: "Helvetica Neue", "Segoe UI", -apple-system, BlinkMacSystemFont,
    "Helvetica", Arial, sans-serif;
  --shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1), 0 15px 35px 0 rgba(0, 0, 0, 0.05);
  --max-width: 1192px;
}
