.contact {
  text-align: center;
  // border: 1px solid red;
  margin-top: 150px;
  h3 {
    margin-top: 20px;
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 35px;
  }
  margin-bottom: 280px;
}
